.welcome {
font-size: 60px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-align: center;
padding-top: 250px;
}

.number{
    padding-left: 700px;    
}

.content {
padding-left: 700px;
}

