html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 40px;
  color: navy;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }

input{
  height: 25px;
  margin: 10px;
}

button {
  height: 50px;
  width: 200px;
  border-radius: 20px;
  border-style: none;
  color: rgb(255, 255, 255);
  background-color: navy;
  margin-top: 15px;
}
}
